<<<<<<< Updated upstream
{% extends "@customer/layout.twig" %}

{% block content %}
    <div class="row">
        Here is a Dummy Showcase in Yves.
    </div>
=======
{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    I am a view file from SprykerEco / Showcase.

>>>>>>> Stashed changes
{% endblock %}
